prdcr_add name=localhost host=localhost port=30001 xprt=sock type=active interval=10000000
prdcr_start name=localhost
updtr_add name=updater interval=10000000 offset=0
updtr_prdcr_add name=updater regex=.*
updtr_start name=updater

load name=store_csv
config name=store_csv path=results/ldms action=init buffer=0

strgp_add name=meminfo_store_csv plugin=store_csv container=csv schema=meminfo
strgp_start name=meminfo_store_csv

strgp_add name=procstat_store_csv plugin=store_csv container=csv schema=procstat
strgp_start name=procstat_store_csv
